@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=19.398861498304356~72.94765319709556&lvl=8&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=19.398861498304356~72.94765319709556&amp;sty=r&amp;lvl=8&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=19.398861498304356~72.94765319709556&amp;sty=r&amp;lvl=8&amp;rtp=~pos.19.398861498304356_72.94765319709556____&amp;FORM=MBEDLD">Get Directions</a>
    </div>
</div>
