################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TranspoterGit/v15
/.vs/TransportService/v15/Server/sqlite3
