@model TransportService.Web.Models.AvalableSpace


<span style="font-size: small;color: #656161;">Available Space</span><br />
<hr style="margin-top:5px;margin-bottom:5px;" />
<span style="font-size: small;color: #656161;">Height @Model.FreeHeight Ft || Width @Model.FreeWidth Ft || Length @Model.FreeLength Ft || Capacity @Model.FreeWeight Tonn</span><br />
