@model TransportService.Web.Models.AvalableSpace



<div class="panel-heading">
    <h6 class="panel-title"><b>Available Space</b> </h6>
</div>
<hr style="margin-top:5px;margin-bottom:5px;" />
<div class="col-sm-6 form-group">
    <table>
        <tr>
            <td><label class="control-label "> Height  </label></td>
            <td class="col-lg-1"></td>
            <td><label>:</label></td>
            <td class="col-lg-1"></td>
            <td><label id="lblHeight"  class="control-label "> @Model.FreeHeight</label></td>
            <td><label>Ft</label></td>
        </tr>
        <tr>
            <td><label class="control-label "> Width  </label></td>
            <td class="col-lg-1"></td>
            <td><label>:</label></td>
            <td class="col-lg-1"></td>
            <td><label id="lblWidth" class="control-label "> @Model.FreeWidth </label></td>
            <td><label>Ft</label></td>
        </tr>

        <tr>
            <td><label class="control-label "> Length  </label></td>
            <td class="col-lg-1"></td>
            <td><label>:</label></td>
            <td class="col-lg-1"></td>
            <td><label id="lblLength" class="control-label "> @Model.FreeLength </label></td>
            <td><label>Ft</label></td>
        </tr>
        <tr>
            <td><label class="control-label "> Capacity  </label></td>
            <td class="col-lg-1"></td>
            <td><label>:</label></td>
            <td class="col-lg-1"></td>
            <td><label id="lblCapacity" class="control-label "> @Model.FreeWeight </label></td>
            <td><label>Tonn</label></td>
        </tr>

    </table>


    
    

</div>