@model TransportService.Web.Models.Masters.VehicleType

<div class="col-sm-6 form-group">
    <label><i class="red">*</i> Truck Capacity </label>
    <div class="input-group">
        <label id="lblCapacity">@Model.Capacity</label>
    </div>
</div>

<div class="col-sm-6 form-group">
    <label>Length:</label>
    <div class="input-group">
       <label id="lblLength">@Model.Length</label>
    </div>
</div>

<div class="col-sm-6 form-group">
    <label>Height:</label>
    <div class="input-group">
        <label id="lblHeight">@Model.Height</label>
    </div>
</div>
<div class="col-sm-6 form-group">
    <label>Width:</label>
    <div class="input-group">
        <label id="lblWidth">@Model.Width</label>
    </div>
</div>
