
@{
                /**/

                ViewBag.Title = "AddTrip";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-sm-12 pull-left">
            @*<input id="btnSubmit" type="submit" class="btn btn-primary" name="regform" value="Create Truck">*@
            <input type="button" id="btnSubmit" class="btn btn-primary" name="regform" value="Add Load">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Trip Details</b> </h5>
                </div>
                <div class="panel-body">

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Source  </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Source", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select Source", new { @class = "form-control", @id = "SourceID", Title = "Select Source" })

                        </div>

                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Destination </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Destination", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select Destination", new { @class = "form-control", @id = "DestinationID", Title = "Select Destination" })

                        </div>
                    </div>



                    <div class="col-sm-6 form-group">
                        <label>Pick Up Date:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" id="PickUpDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" title="Select Pick Up Date" />

                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Load Type:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-shopping-cart"></i></span>
                            <select id="ddlLoadType" class="form-control" title="Select Load Type">
                                <option value="0"> Select Load Type </option>
                                <option value="Full Truck Load(Above 3000 Kg)"> Full Truck Load(Above 3000 Kg) </option>
                                <option value="Part Truck Load(500-3000 Kg)">Part Truck Load(500-3000 Kg) </option>
                                <option value="Parcel (Less than 500 Kg)">Parcel (Less than 500 Kg) </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Sub Service:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-users"></i></span>
                            <select id="ddlSubService" class="form-control" title="Select Sub Service">
                                <option value="0"> Select Sub Service</option>
                                <option value="Commercial"> Commercial </option>
                                <option value="NonCommercial_Business">Non Commercial(Business) </option>
                                <option value="NonCommercial_Household">Non Commercial(Household) </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Reciever Name:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input id="txt_Receiver" type="text" class="form-control" name="altr_name" value="" placeholder="Contact Name" title="Enter Reciever">

                        </div>
                    </div>


                    <div class="col-sm-6 form-group">
                        <label>Phone:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input id="txt_Phone" type="text" class="form-control" name="truck_phone" value="" placeholder="Phone" title="Enter Phone">
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Email:</label>
                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input id="txt_Mail" type="text" class="form-control" name="truck_phone" value="" placeholder="Email" title="Enter Proper Email">
                        </div>
                    </div>


                    <div class="col-sm-12 form-group">
                        <label>Address:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="far fa-address-card"></i></span>
                            @*<input id="truck_phone" type="text" class="form-control" name="truck_phone" value="" placeholder="Email" onkeypress="return isNumberKey(event);">*@
                            <textarea id="txt_Address" class="form-control" name="Adress" placeholder="Address" rows="2" cols="150" title="Enter Address"></textarea>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
}
