@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  TransportService.Web.Models.Activity.Loader
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html
<style>
    .pagination {
        width: 350px;
    }
</style>



<section>
    <div class="fltHpyImg" style="margin-top: -15px;">
        <div class="oh posAbs  ">
            <div class="nb-home-container ">
                <div class="homepage-caption-container">
                    <br>
                    <div>
                        <h1>One Company, More Solutions.</h1>
                    </div>
                    <div class="header-h5">
                        <h5 style="font-weight: 900;font-family: montserratsemi_bold;font-size: 15px;"> Connect to shippers with Transporters to find best matches for their shipments </h5>
                    </div>
                </div>
                <div class="car-move hidden-xs ">
                    <div class="bus hide-on-mobile"></div>
                    <div class="plane hide-on-mobile"></div>
                    <div class="sedan hide-on-mobile"></div>
                    <div class="truck hide-on-mobile"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SEARCH-SECTION -->
<div ng-app="myApp2" id="CntCar" ng-controller="CarlistCntl2" style="margin-top: -60px;">
    <div class="banner_inner">
        <ul class="nav nav-pills">
            <li class="active"><a class="btn btn-primary btn-sm" data-toggle="pill" href="#load">Loader </a></li>
            <li><a class="btn btn-sm transport-button" data-toggle="pill" href="#truck">SHIPPER </a></li>
        </ul>
        <div class="tab-content">
            <div id="load" class="tab-pane fade in active">
                <div class="banner_inner search_bg_cab">
                    <form id="formTransfer" method="post">

                        <div class="clr"></div>
                        <!-- <div class="search_bg_cab"></div> -->

                        <div class="c_col_1" id="dvOutSource">
                            <input class="input_city_c clsAirAuto" id="ddlSource" name="SourceCity" type="text" autocomplete="off" placeholder="From" />
                            <div id="swap" class="swipe-cab"></div>
                        </div>
                        <div class="c_col_1" id="dvOutSource">
                            <input class="input_city_c clsAirAuto" id="ddlSource" name="SourceCity" type="text" autocomplete="off" placeholder="To" />

                        </div>
                        <div class="c_col_2">
                            <input type="text" id="txtDate" class="input_cld_c" name="travelDate1" autocomplete="off" onkeypress="return false" placeholder="Departure" />
                            <span class="dte_icn"></span>
                        </div>
                        <div class="c_col_1-rentl">
                            <div class="slct-pac">
                                <select id="sltPackage" class="select_box_pac-ren" name="RentalPkg">
                                    <option value="">Load Type</option>
                                    <option value="1_10">Part Load</option>
                                    <option value="2_20">Full Load</option>
                                    <option value="3_40">Near By</option>

                                </select>
                            </div>
                        </div>
                        <div class="c_col_2-rentl">
                            <div class="slct-pac1">
                                <select id="sltPackage" class="select_box_pac-ren1" name="RentalPkg">
                                    <option value="">Within KM</option>
                                    <option value="1_10">10 km</option>
                                    <option value="2_20">20 km</option>
                                    <option value="3_40">30 km</option>
                                    <option value="4_40">40 km</option>
                                    <option value="5_50">50 km</option>
                                    <option value="6_60">60 km</option>
                                    <option value="7_70">70 km</option>
                                    <option value="8_80">80 km</option>
                                    <option value="9_90">90 km</option>
                                    <option value="10_100">100 km</option>
                                </select>
                            </div>
                        </div>
                        <div class="c_col_v4">
                            <div class="src_btn_cab" ng-click="validate();">
                                Search
                            </div>
                        </div>


                    </form>
                    <div class="clr"></div>
                </div>
            </div>
            <div id="truck" class="tab-pane fade in ">
                <div class="banner_inner search_bg_cab">
                    <form id="formTransfer" method="post">

                        <div class="clr"></div>
                        <!-- <div class="search_bg_cab"></div> -->

                        <div class="c_col_1" id="dvOutSource">
                            <input class="input_city_c clsAirAuto" id="ddlSource" name="SourceCity" type="text" autocomplete="off" placeholder="From" />
                            <div id="swap" class="swipe-cab"></div>
                        </div>
                        <div class="c_col_1" id="dvOutSource">
                            <input class="input_city_c clsAirAuto" id="ddlSource" name="SourceCity" type="text" autocomplete="off" placeholder="To" />

                        </div>
                        <div class="c_col_2">
                            <input type="text" id="txtDate" class="input_cld_c" name="travelDate1" autocomplete="off" onkeypress="return false" placeholder="Departure" />
                            <span class="dte_icn"></span>
                        </div>
                        <div class="c_col_1-rentl">
                            <div class="slct-pac">
                                <select id="sltPackage" class="select_box_pac-ren" name="RentalPkg">
                                    <option value="">Truck Type</option>
                                    <option value="1_10">Part Load</option>
                                    <option value="2_20">Full Load</option>
                                    <option value="3_40">Near By</option>

                                </select>
                            </div>
                        </div>
                        <div class="c_col_2-rentl">
                            <div class="slct-pac1">
                                <select id="sltPackage" class="select_box_pac-ren1" name="RentalPkg">
                                    <option value="">Within KM</option>
                                    <option value="1_10">10 km</option>
                                    <option value="2_20">20 km</option>
                                    <option value="3_40">30 km</option>
                                    <option value="4_40">40 km</option>
                                    <option value="5_50">50 km</option>
                                    <option value="6_60">60 km</option>
                                    <option value="7_70">70 km</option>
                                    <option value="8_80">80 km</option>
                                    <option value="9_90">90 km</option>
                                    <option value="10_100">100 km</option>
                                </select>
                            </div>
                        </div>
                        <div class="c_col_v4">
                            <div class="src_btn_cab" ng-click="validate();">
                                Search
                            </div>
                        </div>


                    </form>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <!-- <div id="nav" style="width: 25%;margin-left: 550px;">
                   <a class="btn btn-primary btn-sm " data-target="#request-quote" data-toggle="modal">Loader </a>
                   <a href="#" target="_blank" data-toggle="modal"
                     class="btn btn-sm transport-button" id="directory"><span>SHIPPER</span> </a>
                 </div>
               <div class="clr"></div>-->
        <!-- SEARCH-FORM START -->
        <!-- <div class="banner_inner search_bg_cab">
            <form id="formTransfer" method="post" >

                <div class="clr"></div>

                    <div class="c_col_1" id="dvOutSource">
                        <input class="input_city_c clsAirAuto" id="ddlSource" name="SourceCity" type="text" autocomplete="off" placeholder="From" />
                        <div id="swap" class="swipe-cab"></div>
                    </div>
                    <div class="c_col_1" id="dvOutSource">

                        <input class="input_city_c clsAirAuto" id="ddlSource" name="SourceCity" type="text" autocomplete="off" placeholder="To" />

                    </div>
                    <div class="c_col_2">

                        <input type="text" id="txtDate" class="input_cld_c" name="travelDate1" autocomplete="off" onkeypress="return false" placeholder="Departure" />

                        <span class="dte_icn"></span>
                    </div>

                    <div class="c_col_1-rentl" >
                        <div class="slct-pac">
                            <select id="sltPackage" class="select_box_pac-ren" name="RentalPkg">
                                <option value="">Load Type</option>
                                <option value="1_10">Part Load</option>
                                <option value="2_20">Full Load</option>
                                <option value="3_40">Near By</option>

                            </select>
                        </div>
                    </div>

                    <div class="c_col_2-rentl" >
                        <div class="slct-pac1">
                            <select id="sltPackage" class="select_box_pac-ren1" name="RentalPkg">
                                <option value="">Within KM</option>
                                <option value="1_10">10 km</option>
                                <option value="2_20">20 km</option>
                                <option value="3_40">30 km</option>
                                <option value="4_40">40 km</option>
                                <option value="5_50">50 km</option>
                                <option value="6_60">60 km</option>
                                <option value="7_70">70 km</option>
                                <option value="8_80">80 km</option>
                                <option value="9_90">90 km</option>
                                <option value="10_100">100 km</option>
                            </select>
                        </div>
                    </div>

                    <div class="c_col_v4">
                        <div class="src_btn_cab" ng-click="validate();">
                            Search
                        </div>
                    </div>


            </form>
            <div class="clr"></div>
        </div> -->
        <!-- SEARCH-FORM END -->
        <div class="clr"></div>
    </div>
</div>
<!-- SERACH lIST -->

<section class="searchList mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading"><span>Available Loads</span></h2>
            </div>
            <div id="content">
                <!-- Start Content -->
                <div class="container">
                    <!--Start Container-->
                    <div class="row Border" style="margin-left: 700px;margin-top: -25px;">
                        <div class="col-sm-12">
                            <div class="row places">
                                <div class="col-sm-12" style="margin-top:5px;" align="right">
                                    Chennai
                                    <input type="hidden" id="citysrc" value="Chennai"> - Madurai
                                    <input type="hidden" id="citydest" value="Madurai"> 17-12-2019
                                    <input type="hidden" id="citydate" value="17-12-2019">
                                    <input type="hidden" id="statesrc" value="Tamil Nadu">
                                    <input type="hidden" id="statedest" value="Tamil Nadu">
                                    <span class="btn btn-primary btn-md search">Modify Search</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Inner Latest Updates Block -->
                <div class="latestList">
                    <div class="listHeading listTotal" style=";margin-top: 15px;">

                        <!-- <div class="cPxaEJ"> -->
                        <div class="subHeading">
                            <span class=" subH">Top Loads</span>
                            <span class=" ">(6 Trucks)</span>
                            <span class=" highR">High Rating</span>
                        </div>
                        <!-- </div> -->
                        <div class="row" id="SearchShipmentTruck">
                            @Html.Partial("_LoadList")
                        </div>

                    </div>
                </div>
                <!-- Inner Latest Updates Block End-->
            </div>
        </div>
    </div>
</section>






<script>
            $(document).ready(function () {


                $('#DestinationID').on("change", function (e) {

                    var S;
                    var D
                    if ($("#SourceID option:selected").text() == "Select Source") {
                        S = ""
                    }
                    else {
                        S = $("#SourceID option:selected").text();

                    }
                    if ($("#DestinationID option:selected").text() == "Select Destination") {
                        D = ""
                    }
                    else {
                        D = $("#DestinationID option:selected").text();
                    }

                e.preventDefault();
                    $.ajax({
                    url: "@Url.Action("SearchLoads", "TLoader")",
                    contentType: "application/json",
                    data: JSON.stringify({

                        Source: S,
                        Destination: D,
                    }),
                    dataType: "text",
                    type: "POST",
                    async: true,
                     success: function (data) {
                         $("#SearchShipmentTruck").html(data);

                    },
                    error: function (data) {

                    },
                    complete: function () {

                    }
                });

         });
    });


</script>
