@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  TransportService.Web.Models.Activity.Loader
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html
<style>
    .pagination {
        width: 350px;
    }
</style>
<!-- SERACH lIST -->

<section class="searchList mt50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="lined-heading"><span>Available Loads</span></h2>
            </div>
            <div id="content">
                <!-- Start Content -->
                <div class="container">
                    <!--Start Container-->
                    <div class="row Border" style="margin-left: 700px;margin-top: -25px;">
                        <div class="col-sm-12">
                            <div class="row places">
                                <div class="col-sm-12" style="margin-top:5px;" align="right">
                                    Chennai
                                    <input type="hidden" id="citysrc" value="Chennai"> - Madurai
                                    <input type="hidden" id="citydest" value="Madurai"> 17-12-2019
                                    <input type="hidden" id="citydate" value="17-12-2019">
                                    <input type="hidden" id="statesrc" value="Tamil Nadu">
                                    <input type="hidden" id="statedest" value="Tamil Nadu">
                                    <span class="btn btn-primary btn-md search">Modify Search</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Inner Latest Updates Block -->
                <div class="latestList">
                    <div class="listHeading listTotal" style=";margin-top: 15px;">

                        <!-- <div class="cPxaEJ"> -->
                        <div class="subHeading">
                            <span class=" subH">Top Trucks</span>
                            <span class=" ">(6 Trucks)</span>
                            <span class=" highR">High Rating</span>
                        </div>
                        <!-- </div> -->
                        <div class="row" id="SearchShipmentTruck">
                            @Html.Partial("_LoadList")
                        </div>

                    </div>
                </div>
                <!-- Inner Latest Updates Block End-->
            </div>
        </div>
    </div>
</section>






<script>
            $(document).ready(function () {


                $('#DestinationID').on("change", function (e) {

                    var S;
                    var D
                    if ($("#SourceID option:selected").text() == "Select Source") {
                        S = ""
                    }
                    else {
                        S = $("#SourceID option:selected").text();

                    }
                    if ($("#DestinationID option:selected").text() == "Select Destination") {
                        D = ""
                    }
                    else {
                        D = $("#DestinationID option:selected").text();
                    }

                e.preventDefault();
                    $.ajax({
                    url: "@Url.Action("SearchLoads", "TLoader")",
                    contentType: "application/json",
                    data: JSON.stringify({

                        Source: S,
                        Destination: D,
                    }),
                    dataType: "text",
                    type: "POST",
                    async: true,
                     success: function (data) {
                         $("#SearchShipmentTruck").html(data);

                    },
                    error: function (data) {

                    },
                    complete: function () {

                    }
                });

         });
    });


</script>
