
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TransportService.Web.Models.Masters.Vehicle
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="conttainer-fluid">
            
            <div class="row ">
                <div class="col-lg-10">
                    <h3>Add Truck</h3>
                    <div class="signup-block-form">
                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i>Register Number:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-registered"></i></span>
                                <input id="register_number" type="text" class="form-control" name="register_number" value="" placeholder="Enter Register Number" onkeypress="return isVehicleAlphaNumeric(event,this.value);">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i> Truck Capacity </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                                @Html.DropDownList("Capacity", new SelectList((System.Collections.IEnumerable)ViewData["TruckCapacityList"], "Value", "Text"), "Select Capacity", new { @class = "form-control", @id = "CapacityID", Title = "CapacityID" })
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i> Truck Type: </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                @Html.DropDownList("TruckType", new SelectList((System.Collections.IEnumerable)ViewData["VehicalTypeList"], "Value", "Text"), "Select Truck Type", new { @class = "form-control", @id = "VehicleTypeID", Title = "VehicleTypeID" })

                            </div>
                        </div>
                        <div class="col-sm-6 form-group" id="othertrucktype" style="display:none;">
                            <label>Other Truck Type</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                <input name="newtrucktype" id="newtrucktype" type="text" class="form-control" placeholder="Enter Other Truck Type" value="">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Length:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-arrows-v"></i></span>
                                <input id="truck_length" type="text" class="form-control" name="truck_length" value="" placeholder="Length" onkeypress="return isAlphaNumeric(event,this.value);">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Height:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                                <input id="truck_height" type="text" class="form-control" name="truck_height" value="" placeholder="Height" onkeypress="return isAlphaNumeric(event,this.value);">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Width:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                                <input id="truck_width" type="text" class="form-control" name="truck_width" value="" placeholder="Width" onkeypress="return isAlphaNumeric(event,this.value);">
                            </div>
                        </div>
                        <div class="col-sm-10 form-group">
                            <label>Description</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                                <textarea id="truck_description" class="form-control" name="truck_description" placeholder="Description" onkeypress="return isNonSpecialCharCheck(event);"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label>Insured By:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input id="truck_insuredby" type="text" class="form-control" name="truck_insuredby" value="" placeholder="Insured By" onkeypress="return isAlphaNumeric(event,this.value);">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Insurance Start Date:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="date" id="StartDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" />
                                @*<input type="text" id="dp2" data-date-format="yyyy-mm-dd" placeholder="YYYY-MM-DD" class="form-control select_date" name="truck_insurestartdate" value="" autocomplete="off" onkeypress="return checkdate(event);">*@
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Insurance Exp. Date:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="date" id="EndDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" />
                                @*<input type="text" id="dp23" data-date-format="yyyy-mm-dd" placeholder="YYYY-MM-DD" class="form-control select_date" name="truck_insureexpdate" value="" autocomplete="off" onkeypress="return checkdate(event);">*@
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label>GPS Status:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                                <select name="gpsstatus" id="gpsstatus" class="form-control" onchange="return chkgpsstatus(this.value)">
                                    <option value="0">Disable</option>
                                    <option value="1">Enable</option>
                                </select>

                            </div>
                        </div>
                        <input type="hidden" id="selecttruckuser" name="selecttruckuser" value="26241">
                        <div class="col-sm-6 form-group">
                            <label>Phone:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input id="truck_phone" type="text" class="form-control" name="truck_phone" value="" placeholder="Phone" onkeypress="return isNumberKey(event);">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Contact Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input id="altr_name" type="text" class="form-control" name="altr_name" value="" placeholder="Contact Name" onkeypress="return isAlphaNumeric(event,this.value);">
                            </div>
                        </div>

                        <div id="checkgspstatus" style="display:none;">
                            <div class="col-sm-6 form-group">
                                <label>IMEI:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-signal"></i></span>
                                    <input id="truck_imei" type="text" class="form-control" name="truck_imei" value="" placeholder="IMEI" onkeypress="return isNumberKey(event);">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label>Port:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-sort-amount-asc"></i></span>
                                    <input id="truck_port" type="text" class="form-control" name="truck_port" value="" placeholder="Port" onkeypress="return isNumberKey(event);">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label>Truck Speed Limit:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-fast-forward"></i></span>
                                    <input id="truck_speed" type="text" class="form-control" name="truck_speed" value="" placeholder="Truck Speed Limit" onkeypress="return isNumberKey(event);">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Status:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                                <select name="status" id="status" class="form-control">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <script type="text/javascript">
                                    for (var i = 0; i < document.getElementById('status').length; i++) {
                                        if (document.getElementById('status').options[i].value == "") {
                                            document.getElementById('status').options[i].selected = true
                                        }
                                    }
                                </script>
                            </div>
                        </div>


                        <input type="hidden" name="noofprs" id="noofprs" value="2">
                        <input type="hidden" name="totnoofprs" id="totnoofprs" value="8">
                        <div class="col-sm-12 form-group">
                            <div id="formerrorsuploadfile"></div>
                            <label>Upload Your Documents (only image formats (.png/.jpg/.jpeg/.gif))</label>
                            <span class="btn btn-primary attachMoreTruckDocs"><i class="fa fa-plus"></i></span>
                            <input type="hidden" name="proofuserrole" id="proofuserrole" value="9">
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Select Proof Types</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                                        <select name="selectprooftype[]" id="selectprooftype1" class="form-control">
                                            <option value="5">Vehicle RC</option>
                                            <option value="6">C Book</option>
                                            <option value="7">Chassis Number</option>
                                            <option value="9">Vehicle Proof</option>
                                            <option value="10">Insurance Proof</option>
                                            <option value="11">Permit Proof</option>
                                            <option value="20">Fitness Proof</option>
                                            <option value="21">Pollution Proof</option>
                                            <option value="22">SecureSignleDocs</option>
                                            <option value="23">SecureBulkDocs</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="element">
                                        <label></label>
                                        <input type="file" name="upload_file[]" id="upload_file1" class="form-control" accept="image/*" style="padding:5px;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</div>

        }
        <script>

            $(document).ready(function () {
            });

            $('#btnSubmit').on("click", function (e) {
                e.preventDefault();
                var htmlValidationSummary = "";
                alert($("#register_number").val());
                alert($("#CapacityID option:selected").val());
                alert($("#newtrucktype option:selected").val());
                if ($("#register_number").val() == null || $("#register_number").val() == "") {
                    htmlValidationSummary = htmlValidationSummary + "<li> Please Enter Register No.</li>";

                }
                if ($("#CapacityID option:selected").val() == null || $("#CapacityID option:selected").val() == "") {
                    htmlValidationSummary = htmlValidationSummary + "<li> Please Select Capacity </li>";
                }
                if ($("#VehicleTypeID option:selected").val() == null || $("#newtrucktype option:selected").val() == "") {
                    htmlValidationSummary = htmlValidationSummary + "<li> Please Select Truck Type </li>";
                }
                if (htmlValidationSummary.length != 0) {

                    htmlValidationSummary = "<ul>" + htmlValidationSummary + "</ul>";
                    //$('#divValidationSummary').html(htmlValidationSummary);
                    return 0;
                }
                else {
                    //$('#divValidationSummary').html('');
                }

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Loader/AddTruck1',
                    data:
                    {
                        VehicleTypeID: $("#VehicleTypeID option:selected").val(),
                        CapacityID: $("#CapacityID option:selected").val(),
                        VehicleNo: $("#register_number").val(),
                        Height: $("#truck_height").val(),
                        Width: $("#truck_width").val(),
                        Length: $("#truck_length").val(),
                        Description: $("#truck_description").val(),
                        InsuredBy: $("#truck_insuredby").val(),
                        InsuranceStartDate: $("#StartDate").val(),
                        InsuranceExpDate: $("#EndDate").val(),
                        OwnerID: 1,
                        GPSStatus: $("#gpsstatus").val(),
                        Phone: $("#truck_phone").val(),
                        ContactName: $("#altr_name").val()
                        //DocumentPath :

                    },
                    success: function (da) {
                        alert(da);


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
        </script>


