
@{
    ViewBag.Title = "TestNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestNew</h2>

<form>
    <div>
        <div class="formItem">
            <label>Username: </label>
            <input type="text" name="username" class="userName animation" />
            <div class="clear"></div>
        </div>
        <div class="formItem">
            <label>Password: </label>
            <input type="password" name="password" class="animation" />
            <div class="clear"></div>
        </div>
        <input type="submit" name="submit" value="Send" class="btnSend roundedCorners" />
    </div>
</form>