
body {
    font-family: open sans;
}

.inpt_frs {
    width: 100%;
    padding: 9px 9px;
    display: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 0%;
    outline: none;
    border-radius: 3px;
    font-family: open sans;
}

.im_rc {
    width: 46%;
    float: left;
    line-height: 0;
}

.ctnr_sc-2 h3 {
    margin: 0;
    padding: 0;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.ctnr_sc-2 span {
    font-size: 17px;
}

.subm {
    width: 100%;
    margin: 0 auto;
}

.txtaea_frm {
    width: 100%;
    padding: 6px 9px;
    display: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 0%;
    outline: none;
    border-radius: 3px;
    height: 74px;
    font-family: open sans;
}

.btn_fl-sc {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
    font-family: open sans;
    float: right;
}

.toTop {
    display: block;
    position: fixed;
    top: 80%;
    right: 0;
}

.btn_fl-sc:hover {
    opacity: 0.8;
}

.main-frm {
    width: 91%;
    margin: 17px 0;
}

.lbl-sty {
    width: 51%;
    display: inline-block;
}

.subm-btn {
    width: 100%;
    margin: 0px 0 0 0;
    padding: 7px 9px;
    background-color: #dc6d4a;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
}

.imgcontnr {
    text-align: center;
    position: relative;
}


.ctnr_sc-2 {
    width: 53%;
    margin: 2% 0 0;
    padding: 0;
    float: right;
}

.ctnr_sc {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 41%;
    border-radius: 6px;
}

.crs {
    position: absolute;
    right: 8px;
    top: -3px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .crs:hover,
    .crs:focus {
        color: red;
        cursor: pointer;
    }

.clr {
    clear: both;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
