*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input_cld_c::-moz-placeholder {
    color: #000000;
}

.input_cld_c:-ms-input-placeholder {
    color: #000000;
}

.input_cld_c:-moz-placeholder {
    color: #000000;
}

.input_cld_c::-webkit-input-placeholder {
    color: #8d8c8c;
}

.input_city_c::-webkit-input-placeholder {
    color: #8d8c8c;
}

.input_city_c::-moz-placeholder {
    color: #8d8c8c;
}

.input_city_c:-ms-input-placeholder {
    color: #8d8c8c;
}

.input_city_c:-moz-placeholder {
    color: #8d8c8c;
}

body {
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial;
}

.mid_home_cab {
    width: 100%;
    margin: 25px 0 0 0;
}

    .mid_home_cab h4 {
        color: #000;
        font-size: 16px;
        text-align: left;
        margin: 0 0 10px;
        font-weight: 700;
    }

.para {
    font-size: 13px;
    color: #000;
}

.bs-pra {
    font-size: 20px;
    font-weight: 600;
    display: block;
    padding: 0px;
    color: #000;
    text-align: center;
}

.bx-a:hover, .bx-b:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.full_wrap {
    background: #ffffff;
    width: 100%;
    display: inline-block;
}

.wrap_iner {
    width: 1200px;
    margin: 20px auto;
    padding: 5px 15px;
}

.emt_header_full {
    position: relative;
}

.cab-banner {
    width: 100%;
    background: #4263c1 url(../../img/listing/cab-banner1.jpg) 100% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.banner_inner {
    width: 1200px;
    padding: 35px 0px;
    position: relative;
    margin: 0 auto;
}

.cab-ttl {
    width: 100%;
    text-align: center;
}

    .cab-ttl h1 {
        font-size: 26px;
        color: #fff;
        font-weight: 400;
        padding: 0;
        text-align: center;
        margin: 0 0 16px;
        font-family: 'Open Sans', sans-serif, Tahoma, Arial;
    }

.top_bg_ofr {
    width: 100%;
    min-height: 230px;
    position: relative;
    background-color: #4263c1;
    background-image: linear-gradient(0deg, #6b8ef2 0, #4263c1 100%);
}

.cab_svg {
    vertical-align: bottom;
    margin-right: 10px;
}

.one-way {
    width: 85%;
    margin: 0 auto 12px auto;
}

    .one-way:after {
        content: '';
        clear: both;
        display: table
    }

ul.cab_round {
    margin: 0;
    padding: 0
}

    ul.cab_round li {
        color: #cad5f5;
        cursor: pointer;
        float: left;
        font-size: 12px;
        list-style: outside none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 600;
        margin-right: 1px;
    }

    ul.cab_round input[type="radio"] {
        display: none;
    }

    ul.cab_round label {
        display: inline-block;
        cursor: pointer;
        padding: 3px 10px
    }

    ul.cab_round input[type="radio"]:checked + label {
        background-color: #fff !important;
        color: #1853a2 !important;
        border-radius: 20px;
    }

.search_bg_cab {
    width: 85%;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 4px 4px 4px rgba(71,101,187,.75);
    -moz-box-shadow: 4px 4px 4px rgba(71,101,187,.75);
    -webkit-box-shadow: 4px 4px 4px rgba(71,101,187,.75);
}

.mgr20 {
    padding-left: 0;
}

.c_col_1 {
    width: 236px;
    float: left;
    position: relative;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.c_col_2 {
    width: 142px;
    float: left;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.c_col_3 {
    width: 133px;
    float: left;
    padding: 0;
}

.c_col_v4 {
    width: 126px;
    float: right;
    position: relative
}

.swipe-cab {
    width: 27px;
    height: 27px;
    background: url(swipe-icn.png) no-repeat;
    transition: all .5s ease 0s;
    position: absolute;
    right: -14px;
    top: 21px;
    z-index: 1;
    cursor: pointer;
}

    .swipe-cab:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }

.input_city_c, .select_box_c {
    -moz-appearance: none;
    border: 0;
    color: #000;
    background: none;
    float: left;
    font-weight: 600;
    font-size: 15px;
    outline: medium none;
    padding: 22px 0 22px 20px;
    width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
    cursor: pointer;
}

.input_city_c {
    width: 100%
}

.select_box_c {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 22px 0 22px 19px;
}

.input_cld_c {
    -moz-appearance: none;
    border: 0;
    color: #000;
    float: left;
    font-weight: 600;
    font-size: 15px;
    outline: medium none;
    display: block;
    cursor: pointer;
    padding: 22px 0 22px 12px;
    width: 94px;
    background: none;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
}

.dte_icn {
    width: 27px;
    height: 48px;
    float: right;
    background: url(ns-sprite.png) -115px 21px;
    padding: 22px 7px 0 0;
    opacity: .3;
}

.slct-time {
    position: relative
}

    .slct-time::after {
        content: '';
        width: 14px;
        height: 9px;
        background: url(arrow_down.png) no-repeat;
        position: absolute;
        right: 6px;
        top: 31px;
    }

.slct-pac {
    position: relative
}

    .slct-pac::after {
        content: '';
        width: 14px;
        height: 9px;
        background: url(arrow_down.png) no-repeat;
        position: absolute;
        right: 22px;
        top: 31px;
    }

.slct-pac1::after {
    content: '';
    width: 14px;
    height: 9px;
    background: url(arrow_down.png) no-repeat;
    position: absolute;
    right: 130px;
    top: 30px;
}

.select_box_pac {
    -moz-appearance: none;
    border: 0;
    color: #000;
    background: none;
    float: left;
    font-weight: 600;
    font-size: 15px;
    outline: medium none;
    padding: 22px 0 22px 20px;
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.src_btn_cab {
    width: 100%;
    cursor: pointer;
    background: #ef6614;
    /* background-image: linear-gradient(-20deg, #c57a3d, #d65307)!important; */
    float: right;
    text-align: center;
    padding: 23px 4% 22px 14%;
    display: block;
    color: #fff;
    font-size: 20px;
    -moz-border-radius: 3px;
    outline: 0;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(search-icon-hp.png);
    background-position: 15% 50%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}

    .src_btn_cab:hover {
        background-color: #da5200;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
    }

.slider-wrap {
    position: relative;
    margin: 10px auto 0 auto;
    width: 100%;
}

.slider {
    position: relative;
    width: 1090px;
    margin: auto;
}

    .slider ul {
        margin: 0;
        padding: 0;
        position: static
    }

        .slider ul li {
            list-style: none;
            text-align: center;
        }

            .slider ul li span {
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                height: 100px;
                background: black;
            }

.slider-arrow-h {
    position: absolute;
    top: 100px;
    width: 15px;
    height: 24px;
    background: url(https://www.easemytrip.com/dm-img/left-right-arrow.png) no-repeat;
    text-decoration: none;
}

.sa-left-h {
    left: 0;
    background-position: 0px 0px;
}

.sa-right-h {
    right: 10px;
    background-position: -15px 0px;
}

.new_ofr_hp {
    width: 253px !important;
    float: left;
    border: 1px solid #bdbaba;
    cursor: pointer;
    min-height: 235px;
    position: relative;
}

    .new_ofr_hp:hover {
        box-shadow: 0 0 8px rgba(0,0,0,.5)
    }

.new_ofr_hp_img {
    width: 251px;
    height: 119px;
    float: left;
    position: relative;
}

.new_hp_text {
    width: 92%;
    margin: 0 auto;
    text-align: left;
    display: table;
}

    .new_hp_text h3 {
        font-size: 14px;
        color: #000;
        font-weight: 600;
        margin: 8px 0 6px 0;
    }

.hp_pra {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    margin: 0 0 7px 0;
}

.hp_vld {
    font-size: 10px;
    color: #7d7d7d;
    font-weight: 400;
    margin: 3px 0;
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.vldt-icn {
    vertical-align: sub;
    margin-right: 2px
}

.promo-sc {
    border: 1px dashed #ef6614;
    font-size: 11px;
    padding: 1px 2px;
    width: 37%;
    text-align: center;
    position: absolute;
    bottom: 7px;
    left: 7px;
}

.promo-ttl {
    color: #ef6614;
    font-weight: 600;
}

.promo-cd {
    color: #000000;
    font-weight: 600;
}

.botm-sec {
    width: 100%;
    background: #fff;
    float: left
}

.botm-inner {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.bot_hed {
    width: 100%;
    padding: 20px;
}

    .bot_hed h4 {
        text-align: center;
        font-size: 25px;
        font-weight: normal;
    }

.bx-a {
    float: left;
    width: 22.3%;
    border: 1px solid #cccccc;
    margin-right: 39px;
    border-radius: 15px;
    box-shadow: 0.1px 0.1px 0.1px #ccc;
    transition-duration: 0.5s;
    background: #ffffff;
}

    .bx-a:nth-child(4) {
        margin-right: 0
    }

.ttle {
    font-size: 15px;
    text-align: center;
    padding: 10px 0px 5px;
    font-weight: 600;
}

.icn-n {
    width: 100%;
    display: block;
}

    .icn-n img {
        width: 50%;
        display: block;
        margin: 2px auto;
    }

.prgh {
    width: 100%;
    margin: 0 auto;
    color: #666666;
    font-size: 12px;
    text-align: center;
    padding: 7px 10px;
}

.c_col_1_airp {
    width: 295px;
    float: left;
    position: relative;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.input_city_c_airp, .select_box_c_airp {
    -moz-appearance: none;
    border: 0;
    color: #000;
    background: none;
    float: left;
    font-weight: 600;
    font-size: 15px;
    outline: medium none;
    padding: 22px 0 22px 28px;
    width: 288px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
    cursor: pointer;
}

.c_col_1_rentl {
    width: 334px;
    float: left;
    position: relative;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.bg_full_n {
    background: url(https://www.easemytrip.com/img/cab_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin: 30px 0;
}
