::-moz-selection {
background-color:#909496
}
body { width:100%; overflow-x:hidden }
@-webkit-keyframes rotating { from {
-ms-transform:rotate(0);
-moz-transform:rotate(0);
-webkit-transform:rotate(0);
-o-transform:rotate(0);
transform:rotate(0)
}
to { -ms-transform:rotate(-360deg); -moz-transform:rotate(-360deg); -webkit-transform:rotate(-360deg); -o-transform:rotate(-360deg); transform:rotate(-360deg) }
}
@keyframes rotating { from {
-ms-transform:rotate(0);
-moz-transform:rotate(0);
-webkit-transform:rotate(0);
-o-transform:rotate(0);
transform:rotate(0)
}
to { -ms-transform:rotate(-360deg); -moz-transform:rotate(-360deg); -webkit-transform:rotate(-360deg); -o-transform:rotate(-360deg); transform:rotate(-360deg) }
}
.nb-home-container { height:451px; position:relative; top:30px }
.nb-header-image-container { height:450px; position:relative }
/* .nb-bgimage, .nb-testimonialimage { width:100%; height:100%; color:transparent } */
.nb-home-container-index { z-index:-2 }
.btn-additional, .dropdown-menu-share>li>a { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)
}
/* .nb-bgimage { background-image:url(../images/background.png); z-index:0; background-repeat:repeat-x; background-position:-450px } */
@media only screen and (min-width:767px) and (orientation:portrait) {
.nb-bgimage { background-position:center }
}
@keyframes moveVehicleToLeft { from {
left:101%
}
to { left:-1% }
}
@-webkit-keyframes moveVehicleToLeft { from {
left:101%
}
to { left:-1% }
}
@-moz-keyframes moveVehicleToLeft { from {
left:101%
}
to { left:-1% }
}
@-o-keyframes moveVehicleToLeft { from {
left:101%
}
to { left:-1% }
}
@keyframes moveVehicleToRight { from {
left:-1%
}
to { left:101% }
}
@-webkit-keyframes moveVehicleToRight { from {
left:-1%
}
to { left:101% }
}
@-moz-keyframes moveVehicleToRight { from {
left:-1%
}
to { left:101% }
}
@-o-keyframes moveVehicleToRight { from {
left:-1%
}
to { left:101% }
}
@media only screen and (min-width:1024px) {
.nb-bgimage { background-image:url(../images/background-kolkata.png?version10Apr2017); z-index:0; background-repeat:repeat-x; background-position:-450px }
.bus, .car, .lifter, .lifter2, .plane, .sedan, .trains, .truck { background-image:url(../images/home-page-sprit.png?version10Apr2017); position:relative }
.plane { background-position:-25px -229px; width:210px; height:68px; top:51px; z-index:1; animation:moveVehicleToRight 60s linear infinite; -webkit-animation:moveVehicleToRight 60s linear infinite; -o-animation:moveVehicleToRight 60s linear infinite; -moz-animation:moveVehicleToRight 60s linear infinite }
.car { background-position:-25px -399px; width:63px; height:28px; top:175px; z-index:4; animation:moveVehicleToLeft 13s linear infinite; -webkit-animation:moveVehicleToLeft 13s linear infinite; -o-animation:moveVehicleToLeft 13s linear infinite; -moz-animation:moveVehicleToLeft 13s linear infinite }
.sedan { background-position:-25px -167px; width:86px; height:43px; top:8px; z-index:2; animation:moveVehicleToRight 13s linear infinite; -webkit-animation:moveVehicleToRight 13s linear infinite; -o-animation:moveVehicleToRight 13s linear infinite; -moz-animation:moveVehicleToRight 13s linear infinite }
.bus { background-position:-25px -76px; width:165px; height:68px; top:148px; z-index:6; animation:moveVehicleToLeft 22s linear infinite; -webkit-animation:moveVehicleToLeft 22s linear infinite; -o-animation:moveVehicleToLeft 22s linear infinite; -moz-animation:moveVehicleToLeft 22s linear infinite }
.lifter { background-position:-25px -302px; width:64px; height:48px; top:60px; z-index:5; animation:moveVehicleToLeft 20s linear infinite; -webkit-animation:moveVehicleToLeft 20s linear infinite; -o-animation:moveVehicleToLeft 20s linear infinite; -moz-animation:moveVehicleToLeft 20s linear infinite }
.truck { background-position:-25px -450px; width:160px; height:68px; top:-53px; z-index:3; left:0; animation:moveVehicleToRight 17s linear infinite; -webkit-animation:moveVehicleToRight 17s linear infinite; -o-animation:moveVehicleToRight 17s linear infinite; -moz-animation:moveVehicleToRight 17s linear infinite }
.homepage-caption-container:before { content:""; position:absolute; width:100%; left:0; top:21px; z-index:1 }
.homepage-caption-header, .vertical-line { position:relative; z-index:2; display:inline-block }
.homepage-caption-container { position:relative; display:block; text-align:center; color:#666 !important; }
.homepage-caption-header { background-color:#fff; font-size:30px; font-weight:300; top:10px }
.homepage-caption-header:after, .homepage-caption-header:before { content:''; height:20px; width:20px; display:inline-block; border-radius:10px; background-color:#CE5B0D }
.border-right-ebebeb { border-right:1px solid #ebebeb }
.vertical-line { top:5px; height:16px; background-color:#cecdcd; border-left:1px solid #cecdcd; margin-left:10px; margin-top:8px; padding:0; width:1px; border-radius:0 }
.nb-search-form { position:absolute; width:100%; text-align:center; top:130px; z-index:100 }
.nb-search-form .nb-productType-switch { height:40px; margin:30px 0; transition:width .25s ease-out 0s }
.nb-search-form .nb-productType-switch button { outline:0; position:relative; padding:4px 0; border-radius:0; background-color:#fff; color:#aaa; min-width:100px; max-width:100px; margin-right:-10px; -webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; font-size:16px; text-align:center }
.nb-search-form .nb-productType-switch button:hover { font-weight:600 }
.nb-search-form .nb-productType-switch button.active { font-size:18px; color:#FD3753; z-index:1; border-bottom:3px solid #FD3753; font-weight:400 }
.nb-search-form .nb-rent-sale-switch { margin:30px 0; transition:width .25s ease-out 0s }
.nb-search-form .nb-rent-sale-switch button { outline:0; position:relative; padding:4px 30px; border:1px solid #FD3753; border-radius:5px; background-color:#fff; color:#aaa; min-width:110px; max-width:110px; margin-right:-10px }
.nb-search-form .nb-rent-sale-switch button.active { color:#fff; background-color:#FD3753; z-index:1; min-width:116px; max-width:116px }
.nb-search-form .nb-rent-sale-switch button.active.shadow-right { -ms-box-shadow:2px 0 2px 0 #aaa; -moz-box-shadow:2px 0 2px 0 #aaa; -webkit-box-shadow:2px 0 2px 0 #aaa; -o-box-shadow:2px 0 2px 0 #aaa; box-shadow:2px 0 2px 0 #aaa }
.nb-search-form .nb-rent-sale-switch button.active.shadow-left { -ms-box-shadow:-2px 0 2px 0 #aaa; -moz-box-shadow:-2px 0 2px 0 #aaa; -webkit-box-shadow:-2px 0 2px 0 #aaa; -o-box-shadow:-2px 0 2px 0 #aaa; box-shadow:-2px 0 2px 0 #aaa }
.nb-search-form .nb-search { margin:35px 0 10px }
.nb-search-form .nb-search>div { margin-left:-4px }
.nb-search-form .nb-search .localitySearch input {background-repeat:no-repeat; background-position:-18px -727px; padding-left:35px }
.nb-search-form .nb-whatsapp { margin-top:-10px }
}
@media only screen and (min-width:768px) {
.cd-top { right:20px; bottom:20px }
}
@media only screen and (min-width:1024px) {
.cd-top { height:60px; width:60px; right:30px; bottom:30px }
}
@-webkit-keyframes active { 0% {
-webkit-transform:scale(.1);
opacity:1
}
70% {
-webkit-transform:scale(2.5);
opacity:0
}
100% {
opacity:0
}
}
@keyframes active { 0% {
transform:scale(.1);
opacity:1
}
70% {
transform:scale(2.5);
opacity:0
}
100% {
opacity:0
}
}
